.editor {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  &-left,
  &-right {
    flex: 0 0 270px;
    justify-content: flex-start;
    width: 270px;
    height: 100%;
    background-color: #ddd;
    overflow: auto;
    padding-top: 10px;
  }
  &-middle {
    flex: 1;
    width: calc(100% - 540px);
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  &-top {
    width: 100%;
    height: 80px;
    background-color: #fff;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #ddd;

    &-btn {
      width: 80px;
      height: 40px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin: 0 10px;
    }
  }
  &-content {
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: auto;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  &-canvas {
    // width: 900px;
    // height: 900px;
    background-color: yellow;
    position: relative;
  }
  &-block {
    position: absolute;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      box-sizing: border-box;
    }
  }
  &-block-preview {
    position: absolute;
    &:after {
      display: none;
    }
  }
  &-left-item {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: #fff;
    margin: 10px;
    padding: 20px 10px;
    box-sizing: border-box;
    cursor: move;
    user-select: none;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 0.2;
      left: 0;
      top: 0;
      z-index: 2;
    }
    >span {
      position: absolute;
      left: 0;
      top: 0;
      background-color:lightpink;
      color: #fff;
    }
  }
}
.block-focus {
  &:after {
    border: 2px dashed red;
  }
}
.line-x {
  position: absolute;
  border-top: 1px dashed red;
  width: 100%;
}
.line-y {
  position: absolute;
  border-left: 1px dashed red;
  height: 100%;
}
.dropdown {
  position: absolute;
  border: 1px solid #ddd;
  z-index: 999;
}
.dropdown-item {
  line-height: 30px;
  border: 1px solid #ddd;
  cursor: pointer;
  background-color: #fff;
  padding: 0 10px;
  user-select: none;
  &:hover {
    background-color: bisque;
  }
}

.range {
  display: flex;
  align-items: center;
}
.block-resize {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: 999;
  background-color: #00ff;
  user-select: none;
  &-top {
    top: -4px;
    left: calc(50% - 4px);
  }
  &-bottom {
    bottom: -4px;
    left: calc(50% - 4px);
  }
  &-right {
    right: -4px;
    top: calc(50% - 4px);
  }
  &-left {
    left: -4px;
    top: calc(50% - 4px);
  }
  &-top-left {
    top: -4px;
    left: -4px;
  }
  &-top-right {
    top: -4px;
    right: -4px;
  }
  &-bottom-left {
    bottom: -4px;
    left: -4px;
  }
  &-bottom-right {
    bottom: -4px;
    right: -4px;
  }
}
.el-button {
  transition: none !important;
}
